/* CSS */
#portfolioOverview {
  border: 1px solid #ddd;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #33568b;
  color: #fff;
}

.badge {
  background-color: #33568b;
  border: 1px solid #fff;
  font-size: 13px;
  border-radius: 20px;
}

.start_overview_inner {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
}

.start_overview_heading {
  font-size: 20px;
  text-align: right;
  padding: 20px 0 0;
  font-weight: bold;
}

.start_overview_info {
  padding: 20px 0;
}

.createPortfolioBanner {
  display: none;
}

#createPortfolioName {
  font-weight: bold;
}

tr:hover {
  background-color: #33578c;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s;
}

tr:hover a {
  color: #fff;
  transition: all 0.2s;
}

.tr-head {
  background-color: #e7ebf1;
}

.tr-head:hover {
  color: #000;
  cursor: default;
  background-color: #e7ebf1;
}

.table {
  border: 1px solid #ddd;
}

.table a:hover {
  text-decoration: none !important;
}

.sidebar a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.jumbotron {
  background-color: #e7ebf1 !important;
  border-radius: 0px !important;
  padding-top: 42px !important;
  padding-bottom: 41px !important;
}

.card-wrapper {
  padding: 5px;
  padding-bottom: 50px;
}

.card-inner {
  padding: 10px;
  padding-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-inner:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.menupoint {
  background-color: rgba(0, 0, 0, 0.05) !important;
  padding-left: 30px !important;
}

a.list-group-item:focus, a.list-group-item:hover {
  background-color: #28497c !important;
  color: #fff !important;
  transition: all 0s !important;
}

button.list-group-item:focus, button.list-group-item:hover {
  background-color: #28497c !important;
  color: #fff !important;
  transition: all 0s !important;
}

.deleteSuccess {
  width: 100%;
  text-align: center;
  display: none;
}

.deleteSuccess span {
  font-size: 40px;
}

.deleteSuccess p {
  margin: 20px;
  font-size: 20px;
}

.righttable-inner {
  text-align: center;
}

.viewer-management {
  text-align: center;
}

.viewer-management th {
  text-align: center;
}

.viewer-management tr:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.viewer-management td:hover {
  background-color: #536d96 !important;
  color: #fff !important;
}

#searchResult {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.searchResultItem {
  padding: 10px;
}

.searchResultItem:hover {
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.portfolio-info-wrapper {
  display: none;
}

#portfolio-info-saver {
  display: none;
}

#portfolio-info-saver span {
  color: green;
  display: none;
}

.show-info {
  display: block !important;
}

.show-info-not {
  display: none;
}
