/* CSS */
#portfolioOverview {
  border: 1px solid #ddd;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #33568b;
  color: #fff;
}

.badge {
  background-color: #33568b;
  border: 1px solid #fff;
  font-size: 13px;
  border-radius: 20px;
}

.start_overview_inner {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
}

.start_overview_heading {
  font-size: 20px;
  text-align: right;
  padding: 20px 0 0;
  font-weight: bold;
}

.start_overview_info {
  padding: 20px 0;
}

.createPortfolioBanner {
  display: none;
}

#createPortfolioName {
  font-weight: bold;
}

tr:hover {
  cursor: pointer;
  transition: all 0.2s;
}

tr:hover a {
  transition: all 0.2s;
}

.tr-head {
  background-color: #e7ebf1;
}

.tr-head:hover {
  color: #000;
  cursor: default;
  background-color: #e7ebf1;
}

.table {
  border: 1px solid #ddd;
}

.table a:hover {
  text-decoration: none !important;
}

.sidebar a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.jumbotron {
  background-color: #e7ebf1 !important;
  border-radius: 0px !important;
  padding-top: 42px !important;
  padding-bottom: 41px !important;
}

.card-wrapper {
  padding: 5px;
  padding-bottom: 50px;
}

.card-inner {
  padding: 10px;
  padding-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-inner:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.menupoint {
  background-color: rgba(0, 0, 0, 0.05) !important;
  padding-left: 30px !important;
}

a.list-group-item:focus, a.list-group-item:hover {
  background-color: #28497c !important;
  color: #fff !important;
  transition: all 0s !important;
}

button.list-group-item:focus, button.list-group-item:hover {
  background-color: #28497c !important;
  color: #fff !important;
  transition: all 0s !important;
}

.deleteSuccess {
  width: 100%;
  text-align: center;
  display: none;
}

.deleteSuccess span {
  font-size: 40px;
}

.deleteSuccess p {
  margin: 20px;
  font-size: 20px;
}

.righttable-inner {
  text-align: center;
}

.viewer-management {
  text-align: center;
}

.viewer-management th {
  text-align: center;
}

.viewer-management tr:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.viewer-management td:hover {
  background-color: #536d96 !important;
  color: #fff !important;
}

#searchResult {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.searchResultItem {
  padding: 10px;
}

.searchResultItem:hover {
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.portfolio-info-wrapper {
  display: none;
}

#portfolio-info-saver {
  display: none;
}

#portfolio-info-saver span {
  color: green;
  display: none;
}

.show-info {
  display: block !important;
}

.show-info-not {
  display: none;
}

.avatar-wrapper {
  margin: 10px;
  height: 5px;
}

.avatar-wrapper div {
  float: left;
  margin-right: 5px;
}

.avatar-wrapper div img {
  border-radius: 20px;
  width: 15px;
  height: 15px;
}

.supervisor-btn a {
  color: #fff;
}

.active-link {
  background-color: #a9b6cb !important;
}

.legend {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.legend ul li {
  margin: 0px;
  list-style: none;
}

.pers-color-block {
  border: 1px solid grey;
  padding: 3px;
  margin-right: 3px;
  display: inline;
}

.pers-color-block i {
  opacity: 0;
}

.pers-color-block:hover i {
  opacity: 1;
}

.pers-color-block:hover {

}

.supervisor-btn {
  position: absolute;
  right: 50px;
  top: -2px;
  padding: 8px;
  color: #fff;
  background-color: #28497c;
  font-size: 20px;
  border-top: 2px solid rgba(255,255,255,0.3);
}

.supervisor-btn a {
  color: #fff;
}

.widget-list, .widget-links li {
  position: relative;
}

.active-link {
  background-color: #a9b6cb;
  box-shadow: inset 0 0 0 1px #7e92b0;
  color: #fff!important;
}

.active-link::before {
  border: 10px solid rgba(126,146,176,0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-left-color: #7e92b0;
  left: 100%;
  top:50%;
  margin-top: -10px;
}

span img {
  margin-bottom: 5px;
  cursor: pointer;
}

.widget-list, .widget-links li {
  position: relative;
}

.active-link {
  background-color: #a9b6cb;
  box-shadow: inset 0 0 0 1px #7e92b0;
  color: #fff!important;
}

.active-link::before {
  border: 10px solid rgba(126,146,176,0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-left-color: #7e92b0;
  left: 100%;
  top:50%;
  margin-top: -10px;
}


.portfolio-info-wrapper-current .wrapper-name {
  margin-bottom: 10px;
}

.portfolio-info-wrapper-current .wrapper-beschreibung {
  margin-bottom: 10px;
}

.portfolio-info-trigger {
  font-size: 10px;
  text-align: center;
  border: 1px solid #dddddd;
  padding: 3px 5px;
}

.glyphicon-ok {
  color: green;
}

.glyphicon-remove {
  color: red;
}

.widget-list, .widget-links li {
  position: relative;
}

.active-link {
  background-color: #a9b6cb;
  box-shadow: inset 0 0 0 1px #7e92b0;
  color: #fff!important;
}

.active-link::before {
  border: 10px solid rgba(126,146,176,0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border-left-color: #7e92b0;
  left: 100%;
  top:50%;
  margin-top: -10px;
}

.legend {
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 800px;
  padding: 5px 10px;
  margin-top: 30px;
}

.legend ul li {
  margin: 0px;
  list-style: none;
}

.legend ul {
  padding:0px;
}

tr {
  border-bottom: 1px solid #e2e3e5!important;
}

td, th {
  text-align: center;
}

.widget-custom{
  border: 1px solid #d0d7e3;
        margin-bottom: 20px;
}

.widget-custom-head{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e7ebf1;
  color: #28497c;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 2em;
  padding: 0 1ex;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.widget-custom-content {
  padding: 1ex;
}
